*,
::after,
::before {
  box-sizing: border-box !important;
}

.nuxt-link-exact-active {
  font-weight: bold;
}
.container {
  margin-top: 3rem;
  max-width: 1600px;
}

.v-main {
  padding: 0 !important;
}

h1 {
  text-align: center;
}

input {
  padding: 0.375rem 0.75rem;
  margin: 1rem 0;
  border-radius: 0.25rem;
  border: none;
}
form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 3rem auto;

  input {
    margin: 0.75rem 0;
    width: 100%;
    max-width: 300px;
    background-color: #d8e4ea;
  }
  button {
    margin: 1rem auto;
  }
  p {
    color: red;
  }
  label {
    width: 100%;
  }
  .input-grp {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
  }
}

footer {
  margin-top: 6rem;
}
