// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$color-light: #a989f1;

$color-secondary: #6543af;
// $color-primary: #6f0785;
$color-primary: #2d0335;

$wrapper-color: #1b1c1f;
